numpy
unitgrade
matplotlib
sympy<1.10 # alternatively install using: > pip install "sympy<1.10"
gym==0.21.0 # Important not to use 0.22.0 (released mid-feb. 22) since it breaks existing environments.
sklearn # Required for MPC (nearest-neighbors)
pyglet  # Contained in gym, used in gridworld/pacman rendering.
tqdm
seaborn
# cvxopt # Unclear if needed. Seems better than cvxpy for windows(?)
# osqp # Unclear if needed
PyQt5
gym_minigrid
pillow
# git+git://github.com/ibrahim-elshar/gym-windy-gridworlds.git
# cvxpy # install instructions https://www.cvxpy.org/install/ . Seems required for MPC agents.

# cvxpy # Problematic requirements (fails on windows).
# pathos # Multithreading for LMPC; deprecating for now; try to remove this dependency (requires Visual C++ 14).
# git+https://github.com/openai/baselines.git Deprecate for now.
# gym[box2d] # I think we might need this for the lunar lander.

# docker run -e DISPLAY=:1 --user "$(id -u):$(id -g)"  -v /home/tuhe/Documents/02465instructors/docker/tmp:/home docker python3 -m irlc.project1.project1_grade
